*{
    margin: 0;
    padding: 0;
}

a {
    color: rgb(136, 0, 255);
}

body {
background-image: url("../images/green-gradient.png");
}

.header
{
    height: 100vh;
}

.icon-bar {
    background-color: green;
}

.logo {
    align-content: left;
    height: 58px;
    padding-top: 0; 
}

#name {
    font-family: "Mass Effect 123";
    font-size: 18px;
}

.navbar-style
{
    background-color: black;
    box-shadow: 0 5px 10px #101010;
    text-transform: uppercase;
}

