#about-me-text {
    color: #AAAAAA;
    font-size: 16pt;
    font-family: futura;
}

body {
    background-image: url("../images/green-gradient.png");
    background-position: top;
}

button {
    color: black;
}

.col-md-6 {
    padding-left: 0;
}

.form-group {
    color: white;
}

label {
    color: white;
    font-family: futura;
}

#messageform {
    font-size: 10pt;
    height: 180px;
    width: 940px;
    padding: 10px;
    text-align: left;
    border-color: #cccccc;
}

#nameform {
    font-size: 10pt;
    width: 940px;
    padding: 10px;
}

.page-header {
    background-color: black;
    border-style: groove;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 4px;
    color: white;
    margin-bottom: 20px; 
    margin-top: 0px;
    opacity: 0.6;
    padding: 5px;
    padding-left: 10%;
    text-align: left;
}

#page-name {
    font-family: "Mass Effect 123";
    font-size: 20pt;
}

.repoGrid {
    padding: 8px;
    padding-left: 0px; 
    padding-right: 40px;
    padding-bottom: 50px; 
    position: relative;
}

.repoThumbnail {
    height: 240px;
    width: 300px;
    z-index: -1;
}

 .repoTitle {
    background-color: black;
    color: limegreen;
    font-size: 18pt;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    position: absolute;
        bottom: 0pt; 
    text-align: center;
    width: 300px;
} 

.section-title {
    color: white;
    font-family: "Mass Effect 123";
    font-size: 16pt;
    letter-spacing: 2.4px;
    padding-top: 10px;
    padding-bottom: 15px;
    
}

#tagline {
    font-family: Futura, Arial, Helvetica, sans-serif;
    letter-spacing: 2.4px;
}