#about-me-text {
    color: #AAAAAA;
    font-size: 16pt;
    font-family: futura;
}

.cell {
    background-color: rgb(173, 255, 51, 0.1);
    border-radius: 3px;
    padding: 1%;
}

body {
    background-image: url("../images/green-gradient.png");
    background-position: top;
}

button {
    color: black;
}

.col-md-6 {
    padding-left: 0;
}

#contact-header {
    margin-left: -15px;
}

#emailform {
    font-size: 10pt;
    width: 1082px;
    padding: 10px;
    text-align: left;
    margin-bottom: 12px;
}

.form-group {
    color: white;
}

label {
    color: white;
    font-family: futura;
}

#messageform {
    font-size: 10pt;
    height: 180px;
    width: 1082px;
    padding: 10px;
    text-align: left;
    border-color: #cccccc;
}

#nameform {
    font-size: 10pt;
    width: 1082px;
    padding: 10px;
    margin-bottom: 12px;
}

.repoBox {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 78%;
}

.page-header {
    background-color: black;
    background-image: url("../images/connectwork/connectwork.png");
    border-style: groove;
    border-color: rgba(98, 0, 255, 0.5);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 4px;
    color: rgb(52, 131, 52);
    margin-bottom: 20px; 
    margin-top: 0px;
    opacity: 1;
    padding: 5px;
    padding-left: 9.5%;
    text-align: left;
}

.page-header::after {
    
}

#page-name {
    font-family: "Mass Effect 123";
    font-size: 20pt;
}

#portfolio-header {
    margin-left: -15px;
}

.repoGrid {
    padding: 8px;
    padding-left: 0px; 
    padding-right: 40px;
    padding-bottom: 50px; 
    position: relative;
}

.repoThumbnail {
    border-radius: 2px;
    margin-top: 12px;
    height: 240px;
    width: 300px;
    z-index: -1;
}

 .repoTitle {
    background-color: black;
    color: limegreen;
    font-family: futura;
    font-size: 18pt;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    position: absolute;
        bottom: -25pt; 
    text-align: center;
    width: 300px;
} 

.col-md-4 {
    padding-left: 0;
}

.col-md-12 {
    padding-left: 0;
}

.section-title {
    color: white;
    font-family: "Mass Effect 123";
    font-size: 16pt;
    letter-spacing: 2.4px;
    padding-top: 10px;
    padding-bottom: 15px;
    
}

#tagline {
    font-family: Futura, Arial, Helvetica, sans-serif;
    letter-spacing: 2.4px;
}